@using PagedList.Mvc;
@using PagedList;
@model IPagedList<ShopOnline.code.AccountViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!--right colum-->
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Danh sách thành viên- Khách Hàng</h3><br />
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Account")'">Thêm tài khoản</button>
            </div>
            @using(Html.BeginForm("Index","Account",FormMethod.Post))
            {
            <div>
                Nhập để tìm kiếm : @Html.TextBox("searchString",ViewBag.CurrentFilter as string)
                <input id="Submit1" class="btn" type="submit" value="Tìm" />
            </div>
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Ngày Tạo</th>
                        <th>Loại tài khoản</th>
                        <th>Số Điện thoại</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.IDAcc">
                        <td>@item.IDAcc</td>
                        <td>@item.NameAcc</td>
                        <td>@Html.DisplayFor(modelItem => item.DayRegister)</td>
                        <td>
                            <span class="label label-success">@item.NamePer</span>
                        </td>
                        <td>@item.SDT</td>
                        <td>
                            <a href="/Admin/Account/Edit/@item.IDAcc">Sửa</a> |
                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.IDAcc }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.IDAcc + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                        </td>
                    </tr>
                    }

                </table>
                <input type="hidden" id="hiddenemployeeId" />
                <div class="col-sm-7">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount ..
                    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, currentFilter = ViewBag.CurrentFillter }))
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row -->